@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(170, 75, 7);
  --secondary-color: rgb(1, 1, 48);
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;
}

.navbar {
  display: flex;
  padding: 16px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
}

.navList {
  display: flex;
  list-style: none;
  font-size: 18px;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 15px;
  font-weight: 500;
}

.navbar a:hover {
  color: white;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 16px;
  transition: 1s;
}

.hero img {
  background-size: cover;
}
